Sample c table files
__pycache__/conversational_files_API_module.cpython-311.pyc
__pycache__/ConversationalFilesAPI.cpython-311.pyc
__pycache__/test_conversational_fIles.cpython-311-pytest-7.3.1.pyc
__pycache__/Test_ConversationalFIles.cpython-311-pytest-7.3.1.pyc
